# Folders/wildcards
.DS_Store
.DS_Store?
.mixin.out
*.dll
*.jar.disabled
*.jar.meta
**/*.bak
**/*.exe
**/*.jar
**/*.zip
**/*client.*
backups
classes/**
config/XaeroWorldMap/*
crafttweaker_examples/**
crash-reports
data
docker/**
downloads
dumps
emojiful/cache
ESM
journeymap
kubejs/exported
libraries
lightspeed-cache
llibrary
local
logs
modernfix
mods
profilekeys
saves
screenshots
skyblock_exports
world
world_backup
XaeroWaypoints
XaeroWorldMap
technical-traveler-dev

# Client Configs
!ae2/client.json
!config/defaultoptions/options.txt
!config/inventorysorter-client.toml
!config/itlt-client.toml
!config/modpack-update-checker/config.json
!config/servers.json
.ReAuth.cfg
canary.properties
clienttweaks-common.toml
config/bridgingmod.json
config/cherishedworlds/favorites.dat
config/darkmodeeverywhereshaders.json
config/emendatusenigmatica/default
config/emi.css
config/enigmaticgraves-common.toml
config/forgeendertech/Biomes
config/ftbbackups2.json
config/InvTweaks.cfg
config/jade/sort-order.json
config/jei/bookmarks.ini
config/jei/ingredient-list-mod-sort-order.ini
config/jei/lookupHistory.zip
config/jei/recipe-category-sort-order.ini
config/jei/world/local
config/jei/worldSettings.cfg
config/MouseTweaks.cfg
config/oculus.properties
config/pneumaticcraft/ArmorFeatureStatus.cfg
config/pneumaticcraft/PneumaticArmorHUDLayout.cfg
config/powah.json5
config/PregenConfig.toml
config/rare-ice.properties
config/sidebar_buttons.json
config/skyblockbuilder/data/**
config/terraforged/performance_internal.conf
connectivity.json
emi.json
fancymenu_data/last_world.fmdata
not-enough-crashes/Uploaded Crash logs.txt
notenoughcrashes.json
observable.json
patchouli_data.json
placebo.cfg
reauth.toml
reforgium-renderer.properties
rhino.local.properties
rubidium-mixins.properties
rubidium-options.json
sdrp-common.json
smoothboot.json
soundsMuffled.dat
TrashSlotSaveState.json

# Automation stuff
!Cat-Downloader-Legacy.jar
!server_files/**
!server_files/server-guide.txt
.github_changelog_generator
automation/Cat-Downloader-Legacy-Settings.json5
automation/CDL-Logs
automation/game-versions.json
automation/secrets.ps1
CHANGELOG-GENERATED.md
secrets.ps1

# Utilities
.curseclient
.vote2020_marker
banned-ips.json
banned-players.json
ds_private_storage.json
ESM/Anchors.dat
eula.txt
ItemDump.txt
knownkeys.txt
mode.json
new.json
old.json
ops.json
options.txt
realms_persistence.json
server.properties
settings.cfg
stop-java-detection.txt
TwitchExportBuilder.exe
usercache.json
usernamecache.json
whitelist.json

# MultiMC / PrismLauncher
icon.png

# vscode
.vscode

# Random stuff to ignore
.qmenu_opened.marker
biomeidfixer.temp
manifest.json
mechanical-mastery-dev.code-workspace
menubuttons.bbmodel
mmplus_banner.psd
mmplus_logo_bg.png
mmplus_logo_title.png
mmplus.bbmodel
NewWorldBiomeIdFixer.json
o_prof
profileImage/mmplus_logo.png
profileImage/mmplus_title_screen.jpg