# Folders/wildcards
*.dll
**/*.exe
**/*.log
**/*.zip

/.mixin.out
/.mixin.out/
/backups/
/crash-reports/
/data/
/docker/**
/downloads
/dumps/
/ESM/
/journeymap/
/kubejs/exported
/libraries/
/lightspeed-cache/
/llibrary/
/local/
/logs/
/modernfix/
/mods/
/profilekeys/
/resourcepacks
/saves/
/screenshots/
/skyblock_exports/
/world/
/world_backup/

# Cat-Downloader-Legacy and other jars
**/*.jar
!Cat-Downloader-Legacy.jar
**/*.jar.disabled
**/*.jar.meta

# Utilities
!config/defaultoptions/options.txt
!packmenu/*.zip
!server_files/**
!server_files/server-guide.txt
!server_files_expert/**
!server_files_expert/server-guide.txt
.curseclient
.github_changelog_generator
.ReAuth.cfg
.vote2020_marker
1.16.5.json
automation/secrets.ps1
banned-ips.json
banned-players.json
BotaniaVars.dat
CHANGELOG-GENERATED.md
crafttweaker.log
ds_private_storage.json
emojiful/cache/*
ESM/Anchors.dat
eula.txt
github_changelog_generator.gemspec
github-changelog-generator.bat
ItemDump.txt
knownkeys.txt
mode.json
ModpackUploader.bat
new.json
old.json
ops.json
options.txt
patchouli_data.json
realms_persistence.json
reauth.toml
remove-client-mods.bat
remove-client-mods.ps1
secrets.ps1
server-install.sh
server.properties
servers.dat
servers.dat_old
settings.cfg
soundsMuffled.dat
start-automated-server.bat
start-automated-server.sh
stop-java-detection.txt
TrashSlotSaveState.json
TwitchExportBuilder.exe
update-server.bat
update-server.ps1
usercache.json
usernamecache.json
whitelist.json
/XaeroWaypoints/*
/XaeroWorldMap/*

# Client Configs
/**/*client.*
/**/*.bak
/config/emendatusenigmatica/default
/config/forgeendertech/Biomes/
/config/darkmodeeverywhereshaders.json
/config/enigmaticgraves-common.toml
/config/ftbbackups2.json
/config/InvTweaks.cfg
/config/jei/bookmarks.ini
/config/jei/lookupHistory.zip
/config/jei/worldSettings.cfg
/config/jei/recipe-category-sort-order.ini
/config/jei/world/local
/config/MouseTweaks.cfg
/config/oculus.properties
/config/pneumaticcraft/ArmorFeatureStatus.cfg
/config/pneumaticcraft/PneumaticArmorHUDLayout.cfg
/config/rare-ice.properties
/rhino.local.properties
/config/terraforged/performance_internal.conf
/config/sidebar_buttons.json
/config/emi.css
/config/cherishedworlds/favorites.dat
/config/XaeroWorldMap/*
/config/bridgingmod.json
canary.properties
clienttweaks-common.toml
connectivity.json
notenoughcrashes.json
observable.json
placebo.cfg
reforgium-renderer.properties
rubidium-mixins.properties
rubidium-options.json
sdrp-common.json
smoothboot.json


# GDLauncher
config.json
/natives/

# MacOSX
.DS_Store
.DS_Store?

# MultiMC / PrismLauncher
icon.png

# vscode
.vscode/

# Random stuff to ignore
biomeidfixer.temp
config/PregenConfig.toml
NewWorldBiomeIdFixer.json
o_prof
automation/CDL-Logs/*.log
automation/CDL-Logs/*.log.gz
automation/CDL-Logs/CDL-Instance-cache.json
automation/Cat-Downloader-Legacy-Settings.json5
automation/game-versions.json
emi.json