# Folders/wildcards
*.dll
**/*.exe
**/*.log
**/*.zip

/.mixin.out
/.mixin.out/
/backups/
/crash-reports/
/data/
/docker/**
/downloads
/dumps/
/ESM/
/journeymap/
/kubejs/exported
/libraries/
/lightspeed-cache/
/llibrary/
/local/
/logs/
/modernfix/
/mods/
/profilekeys/
/saves/
/screenshots/
/skyblock_exports/
/world/
/world_backup/

# Cat-Downloader-Legacy and other jars
**/*.jar
!Cat-Downloader-Legacy.jar
**/*.jar.disabled
**/*.jar.meta

# Utilities
!config/defaultoptions/options.txt
!server_files/**
!server_files/server-guide.txt
.curseclient
.github_changelog_generator
.ReAuth.cfg
.vote2020_marker
automation/secrets.ps1
banned-ips.json
banned-players.json
CHANGELOG-GENERATED.md
crafttweaker.log
ds_private_storage.json
emojiful/cache/*
ESM/Anchors.dat
eula.txt
github_changelog_generator.gemspec
github-changelog-generator.bat
ItemDump.txt
knownkeys.txt
mode.json
ModpackUploader.bat
new.json
old.json
ops.json
options.txt
patchouli_data.json
realms_persistence.json
reauth.toml
remove-client-mods.bat
remove-client-mods.ps1
secrets.ps1
server-install.sh
server.properties
servers.dat
servers.dat_old
settings.cfg
soundsMuffled.dat
start-automated-server.bat
start-automated-server.sh
stop-java-detection.txt
TrashSlotSaveState.json
TwitchExportBuilder.exe
update-server.bat
update-server.ps1
usercache.json
usernamecache.json
whitelist.json
/XaeroWaypoints/*
/XaeroWorldMap/*

# Client Configs
/**/*client.*
!/ae2/client.json
!/config/inventorysorter-client.toml
/**/*.bak
/config/emendatusenigmatica/default
/config/forgeendertech/Biomes/
/config/darkmodeeverywhereshaders.json
/config/enigmaticgraves-common.toml
/config/ftbbackups2.json
/config/InvTweaks.cfg
/config/jei/bookmarks.ini
/config/jei/ingredient-list-mod-sort-order.ini
/config/jei/lookupHistory.zip
/config/jei/worldSettings.cfg
/config/jei/recipe-category-sort-order.ini
/config/jei/world/local
/config/MouseTweaks.cfg
/config/oculus.properties
/config/pneumaticcraft/ArmorFeatureStatus.cfg
/config/pneumaticcraft/PneumaticArmorHUDLayout.cfg
/config/rare-ice.properties
/rhino.local.properties
/config/terraforged/performance_internal.conf
/config/sidebar_buttons.json
/config/cherishedworlds/favorites.dat
/config/XaeroWorldMap/*
/config/bridgingmod.json
canary.properties
clienttweaks-common.toml
connectivity.json
notenoughcrashes.json
observable.json
placebo.cfg
reforgium-renderer.properties
rubidium-mixins.properties
rubidium-options.json
sdrp-common.json
smoothboot.json

# GDLauncher
config.json
/natives/

# MacOSX
.DS_Store
.DS_Store?

# MultiMC / PrismLauncher
icon.png

# vscode
.vscode/

# Random stuff to ignore
biomeidfixer.temp
config/PregenConfig.toml
NewWorldBiomeIdFixer.json
o_prof
automation/CDL-Logs/*.log
automation/CDL-Logs/*.log.gz
automation/CDL-Logs/CDL-Instance-cache.json
automation/Cat-Downloader-Legacy-Settings.json5
automation/game-versions.json
/config/emi.css
emi.json
.qmenu_opened.marker
not-enough-crashes/Uploaded Crash logs.txt
config/jade/sort-order.json
manifest.json
profileImage/mmplus_title_screen.jpg
/config/powah.json5
config/skyblockbuilder/data/**
fancymenu_data/last_world.fmdata
classes/Scripts.class
classes/collections/NoSuchElementException.class
classes/collections/Stack.class
classes/math/Constants.class
classes/stdlib/Arrays_generated_2.class
classes/stdlib/Arrays_generated_3.class
classes/stdlib/Arrays_generated_4.class
classes/stdlib/Assoc_generated_9.class
classes/stdlib/Chars_generated_19.class
classes/stdlib/EnforcementLevel.class
classes/stdlib/EqualsComparable.class
classes/stdlib/Hashable.class
classes/stdlib/Integers_generated_13.class
classes/stdlib/Result_generated_12.class
classes/stdlib/Result.class
classes/stdlib/Result$Error.class
classes/stdlib/Result$Ok.class
classes/stdlib/StringBuildable.class
classes/stdlib/Strings_generated_14.class
classes/stdlib/USize_generated_16.class
classes/zsynthetic/FunctionUSizeTToBool.class
classes/zsynthetic/FunctionUSizeTToU.class
classes/zsynthetic/FunctionUSizeTToVoid.class
classes/zsynthetic/USizeRange.class
crafttweaker_examples/crafttweaker_crafting_recipes.zs
crafttweaker_examples/crafttweaker_forge_events.zs
crafttweaker_examples/crafttweaker_hello_world.zs
crafttweaker_examples/crafttweaker_loot_modifiers.zs
crafttweaker_examples/crafttweaker_sequences_cauldron_saveddata.zs
crafttweaker_examples/crafttweaker_tags.zs
crafttweaker_examples/farmersdelight/cooking_pot.zs
crafttweaker_examples/farmersdelight/cutting_board.zs
crafttweaker_examples/farmersdelight/replacer_testing.zs
crafttweaker_examples/gamestages/basics_example.zs
crafttweaker_examples/gamestages/stage_events.zs
crafttweaker_examples/gamestages/stagehelper_advancement.zs
crafttweaker_examples/gamestages/stagehelper_brewing.zs
crafttweaker_examples/gamestages/stagehelper_crafting.zs
crafttweaker_examples/gamestages/stagehelper_crits.zs
crafttweaker_examples/gamestages/stagehelper_dimensions.zs
crafttweaker_examples/gamestages/stagehelper_fishing.zs
crafttweaker_examples/gamestages/stagehelper_joining.zs
crafttweaker_examples/gamestages/stagehelper_kills.zs
crafttweaker_examples/gamestages/stagehelper_levels.zs
crafttweaker_examples/gamestages/stagehelper_pickup.zs
crafttweaker_examples/gamestages/stagehelper_smelting.zs
crafttweaker_examples/mekanism/activating.zs
crafttweaker_examples/mekanism/centrifuging.zs
crafttweaker_examples/mekanism/chemical_infusing.zs
crafttweaker_examples/mekanism/combining.zs
crafttweaker_examples/mekanism/compressing.zs
crafttweaker_examples/mekanism/crushing.zs
crafttweaker_examples/mekanism/crystallizer.zs
crafttweaker_examples/mekanism/custom_chemicals.zs
crafttweaker_examples/mekanism/dissolution.zs
crafttweaker_examples/mekanism/energy_conversion.zs
crafttweaker_examples/mekanism/enriching.zs
crafttweaker_examples/mekanism/evaporating.zs
crafttweaker_examples/mekanism/gas_conversion.zs
crafttweaker_examples/mekanism/infusion_conversion.zs
crafttweaker_examples/mekanism/injecting.zs
crafttweaker_examples/mekanism/jeitweaker_integration.zs
crafttweaker_examples/mekanism/metallurgic_infusing.zs
crafttweaker_examples/mekanism/nucleosynthesizing.zs
crafttweaker_examples/mekanism/oxidizing.zs
crafttweaker_examples/mekanism/painting.zs
crafttweaker_examples/mekanism/pigment_extracting.zs
crafttweaker_examples/mekanism/pigment_mixing.zs
crafttweaker_examples/mekanism/purifying.zs
crafttweaker_examples/mekanism/reaction.zs
crafttweaker_examples/mekanism/rotary.zs
crafttweaker_examples/mekanism/sawing.zs
crafttweaker_examples/mekanism/separating.zs
crafttweaker_examples/mekanism/smelting.zs
crafttweaker_examples/mekanism/washing.zs
crafttweaker_examples/thermal/device/fisher_boost.zs
crafttweaker_examples/thermal/device/hive_extractor.zs
crafttweaker_examples/thermal/device/potion_diffuser_boost.zs
crafttweaker_examples/thermal/device/rock_gen.zs
crafttweaker_examples/thermal/device/tree_extractor_boost.zs
crafttweaker_examples/thermal/device/tree_extractor.zs
crafttweaker_examples/thermal/dynamo/compression.zs
crafttweaker_examples/thermal/dynamo/disenchantment.zs
crafttweaker_examples/thermal/dynamo/gourmand.zs
crafttweaker_examples/thermal/dynamo/lapidary.zs
crafttweaker_examples/thermal/dynamo/magmatic.zs
crafttweaker_examples/thermal/dynamo/numismatic.zs
crafttweaker_examples/thermal/dynamo/stirling.zs
crafttweaker_examples/thermal/machine/bottler.zs
crafttweaker_examples/thermal/machine/brewer.zs
crafttweaker_examples/thermal/machine/centrifuge.zs
crafttweaker_examples/thermal/machine/chiller.zs
crafttweaker_examples/thermal/machine/crucible.zs
crafttweaker_examples/thermal/machine/furnace.zs
crafttweaker_examples/thermal/machine/insolator_catalyst.zs
crafttweaker_examples/thermal/machine/insolator.zs
crafttweaker_examples/thermal/machine/press.zs
crafttweaker_examples/thermal/machine/pulverizer_catalyst.zs
crafttweaker_examples/thermal/machine/pulverizer.zs
crafttweaker_examples/thermal/machine/pyrolyzer.zs
crafttweaker_examples/thermal/machine/refinery.zs
crafttweaker_examples/thermal/machine/sawmill.zs
crafttweaker_examples/thermal/machine/smelter_catalyst.zs
crafttweaker_examples/thermal/machine/smelter.zs
mmplus_banner.psd
mmplus_logo_bg.png
mmplus_logo_title.png
mmplus.bbmodel
profileImage/mmplus_logo.png
