**/*client.*
XaeroWorldMap/*
canary.properties
clienttweaks-common.toml
emi.css
ftbbackups2.json
jade/sort-order.json
jei/bookmarks.ini
jei/ingredient-list-mod-sort-order.ini
jei/lookupHistory.zip
jei/recipe-category-sort-order.ini
jei/world/local
jei/worldSettings.cfg
justzoom/config.txt
MouseTweaks.cfg
powah.json5
skyblockbuilder/data/**
connectivity.json
emi.json
patchouli_data.json


!ae2/client.json
!inventorysorter-client.toml
!modpack-update-checker/config.json