# Configuration file

gem_finder {
    S:targets <
        meadow:alpine_diamond_ore, 0xff3de0e5, diamond
        meadow:alpine_emerald_ore, 0xff08aa2f, emerald
        meadow:alpine_lapis_ore, 0xff0000ff, lapis
        meadow:alpine_quartz_ore, 0xfff3f0e6, quartz
     >
}


metal_finder {
    S:targets <
        meadow:alpine_iron_ore, 0xffdeb887, iron
        meadow:alpine_copper_ore, 0xffc56544, copper
        meadow:alpine_gold_ore, 0xffffd700, gold
     >
}


mineral_finder {
    # List of all blocks the finder should be looking for.
    # The format is <unitId>, <colorARGB> [, <groupName>]
    # 
    # Id is a basic unit (block or item) identifier in <modId:unitName:meta> format.
    # ModId can be omitted for vanilla items. Meta can be omitted too if it equals 0.
    # UnitName must be lowercase, words separated by '_', words order - from particular to general (example: black_iron_ore).
    # Use '*' char or '[]' as meta value to specify all possible values (all block states).
    # To define multiple block states, you can use block properties. The format is <modId:blockName:[prop1=value1, prop2=value2]>
    # Also you may use tags. The format is <#modId:tagPath> (example: #c:ores/copper).
    # 
    # Color in ARGB (Alpha, Red, Green, Blue) hex format (0xaarrggbb)
    # 
    # Group name is necessary for having one needle for each ore group(one needle for all copper ores, one for all gold ores, etc.)
    # If not set then unitName will be used.
    # 
    S:targets <
        meadow:alpine_coal_ore, 0xff000000, coal
        meadow:alpine_redstone_ore, 0xffff0000, redstone
        meadow:alpine_salt_ore, 0xffededed, salt
     >
}


