!defaultoptions/options.txt
!kubejs/**/mods
crafttweaker_examples
emi.json
emojiful/cache
ESM
fancymenu_data
fancymenu_instance_data
fancymenu_setups
lightspeed-cache
llibrary
modernfix
not-enough-crashes
patchouli_data.json
patchouli_books
reauth.toml
rhino.local.properties
schematics
skyblockbuilder
shaderpacks
skyblock_exports
soundsMuffled.dat
TrashSlotSaveState.json
probe